* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: 'Roboto', -apple-system, system-ui, sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root, #canvas-container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

